// Colors
$clr1: #f9fcf3; // background
$clr2: #1d1c2182; 
$clr3: #cbf83e; //text
$clr4: #1d1c21; // modal background
$clr5: #efecec; // text modal





// Breakpoints
$mobile-breakpoint: 500px;
$tablet-breakpoint: 800px;

